html,
body {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.clock {
    align-items: center;
    animation: fade-in 1.5s ease-in;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    justify-content: center;
    width: 100%;
}

.clock .clock__date {
    color: white;
    font-size: 10vw;
}

.clock .clock__time {
    color: silver;
    font-size: 9vw;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}