html,
body {
    margin: 0;
}
body {
    font-family: 'Abel', sans-serif;
}
.bg {
    position: relative;
    width: 100%;
}
.bg img {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    z-index: -1;
}
.flex-row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    position: relative;
}
.flex-row__item {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.weather {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#weather a {
    font-size: 2.0em;
    position: relative;
    width: 50%;
}