@import url("weather-icons.min.css");

html,
body {
  height: 100%;
}
body {
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Abel', sans-serif;
  font-size: 5vmin;
  justify-content: center;
  overflow: hidden;
  text-shadow: 0 0 0.2em #000000;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  max-width: 70%;
  width: 100%;
}
.errors {
  color: red;
}
.weather hr {
  border: 1px solid deepskyblue;
}
.weather input {
  background: none;
  border: none;
  color: white;
  font-family: inherit;
  max-width: 45%;
  text-shadow: inherit;
}
.weather input:active,
.weather input:focus {
  border-bottom: 1px solid white;
  outline: none;
}
.weather svg {
  width: 100%;
}
.weather .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.weather .row > * {
  margin: 0 0.15em;
}
.weather .cur .loc {
  font-size: 2.7em;
}
.weather .cur .temps {
  align-items: center;
  display: flex;
  justify-content: center;
}
.weather .cur .temps .minmax {
  align-items: center;
  display: none;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: space-between;
  margin: 0 0.5em;
}
.weather .cur .cur-cond {
  font-size: 1.7em;
  justify-content: space-around;
}
.weather .cur .weather__cond {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather .cur .weather__cond i {
  font-size: 1.8em;
}
.weather .cur .weather__cond .weather__cond-desc {
  font-size: 0.75em;
  line-height: 2.0em;
}
.weather .max {
  color: orangered;
}
.weather .min {
  color: deepskyblue;
}
.weather .pct:after {
  content: '%';
}
.weather .mph:after {
  content: ' mph';
}
.weather .temp_f:after {
  content: ' \0000b0 F';
}
.weather .cast {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.0em;
  justify-content: center;
}
.weather .cast i {
  font-size: 1.9em;
  /* margin-bottom: 0.5em; */
}
.weather .cast .day {
  font-size: 1.7em;
  /* margin-top: 0.25em; */
}
.weather .cast .temps {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.weather .cast .temps .minmax {
  display: flex;
  flex-direction: row;
  font-size: 2.0em;
  font-weight: bold;
  justify-content: space-between;
  /* text-shadow: 0 0 0.1em #FFFFFF; */
}
.weather .cast .temps .minmax div + div {
  margin-left: 0.25em;
}
.weather .cast .temps .temp-val {
  font-size: 2.0em;
}
.weather .iv-pair {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 2.7em;
  height: 100%;
  justify-content: space-around;
  position: relative;
}
.weather .iv-pair i {
  padding: 0 0.2em;
  font-size: 0.75em;
}