html,
body {
    height: 100%;
    margin: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
